[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pprint = "*"
ipython = "*"
ipykernel = "*"

[packages]
pandas = "*"
beautifulsoup4 = "*"
selenium = "*"
pick = "*"
lxml = "*"
requests = "*"
nltk = "*"
textblob = "*"

[requires]
python_version = "3.7"
